@media (max-width: 1400px) {
  .h1,
  h1 {
    font-size: 2em;
  }
  .banner-content {
    padding-top: 150px;
  }
  .banner-text {
    font-size: 1em;
  }
  .form-title {
    font-size: 0.8em;
  }
  .form-text {
    font-size: 0.6em;
  }
  .mb-4,
  .my-4 {
    margin-bottom: 1rem !important;
  }
  .form-control {
    font-size: 0.6em;
  }
  .btn {
    padding: 0.6rem 1rem;
    font-size: 0.5rem;
  }
  .countdown {
    width: 75%;
  }
  .units {
    font-size: 0.7em;
  }
}

@media (max-width: 1200px) {
  .partner-img {
    width: 90%;
  }
  .partner-title {
    font-size: 1em;
    margin-top: 5px;
  }
  .hr-style {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }
  .list-program li {
    margin-bottom: 10px !important;
    font-size: 0.85em;
  }
}

@media (max-width: 1024px) {
  .countdown {
    width: 100%;
  }
}

@media (max-width: 768px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }

  .formedia {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .banner-column {
    max-width: 90% !important;
  }
  .banner-text,
  .banner-title {
    text-align: center !important;
  }
  .banner-column-one {
    margin-bottom: 100px !important;
  }
  .form-text {
    font-size: 1em;
  }

  .partners {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .partners .col-md-7 {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .partners .col-md-5 {
    max-width: 60%;
  }

  .partner-title {
    font-size: 2em;
    margin-top: 5px;
    text-align: center !important;
  }

  .hr-style {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px !important;
    border-top: 3px solid #117ff8;
  }
}

@media (max-width: 425px) {
  .partners .col-md-5 {
    max-width: 100%;
  }
  .vanishing {
    display: none;
  }
}
